body {
  margin: 20px;
  background-color: #f9f9f9;
}

h1, h2 {
  color: #333;
}

p, li {
  color: #555;
}

ul {
  list-style-type: square;
  padding-left: 20px;
}

hr {
  margin-top: 30px;
  border: none;
  border-top: 1px solid #ccc;
}

a {
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.profile {
  text-align: center;
  margin-bottom: 2rem;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 1rem;
  border: none;
}

.education,
.projects {
  text-align: left;
  margin: 0 auto;
  max-width: 600px;
  padding: 1rem;
  background-color: transparent;
  border: none;
}

.education h2,
.projects h2 {
  color: #4CAF50;
}

body.dark {
  background-color: #121212;
  color: #f9f9f9;
}

body.dark h1,
body.dark h2 {
  color: #f9f9f9;
}

body.dark p,
body.dark li {
  color: #ddd;
}

body.dark .education {
  background-color: transparent;
  border: none;
}

body.dark a {
  color: #66ccff;
}
